modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 60000

[nix]
channel = "stable-25_05"
packages = ["tree"]

[userenv]

[userenv.shared]
ADMIN_SECRET = "AJK-hig2QXaC_VG7OPZqgMT-VsVHtN8"
ADMIN_JWT_SECRET = "QOHAcA0Y3m6yyQ1jW8FnQu995T5e8XupSnhKch6SF8RIKFn5KNZatDnFzqUDX2OL"
VAPID_PUBLIC_KEY = "BEmlZZIGCb7ZhembOoH02qzZlnhkFrYkib27NwFgtXBFDcvtHhhWC2hfZEHU4JpDbfHIRgbrCiM_f9gEEc_JHLg"
VAPID_PRIVATE_KEY = "b3egnGyDJYSVsOB4z-PGhf5YbGeuVKcHtNpJPQ-r-eM"
VAPID_CONTACT_EMAIL = "mailto:admin@ajkmart.app"
DATABASE_URL = "postgresql://neondb_owner:npg_5VFzHmZ6NTWn@ep-solitary-credit-a188hgj0-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"
PORT = "8080"
JWT_SECRET = "PUkuIh+8NSn80k68j1sAR1zPGtK7xryE8LTbaM6hGA2jA2fHq1MJuyud4YYtSMtB"
GEMINI_API_KEY = "AIzaSyDdujmMRDG4_z0z8zG908_f4jNHACg9EHk"

[userenv.production]
LOG_LEVEL = "warn"

[rules]

[rules.formatter]

[rules.formatter.fileExtensions]

[rules.formatter.fileExtensions.".ts"]
id = "module:nodejs-24/languageServer:typescript-language-server"
